/* fonts */



/* fonts */

/* variables */

:root {
    /* dark shades of primary color*/
    --clr-primary: #332C38;
    --clr-secondary: #F64C72;
    --clr-white: #fff;
    --ff-primary: "Roboto", sans-serif;
    --ff-secondary: "Open Sans", sans-serif;
    --transition: all 0.3s linear;
    --spacing: 0.25rem;
    --radius: 0.5rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
}

/* variables */

/* global styles */

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--ff-secondary);
    background: var(--clr-white);
    color: var(--clr-white);
    line-height: 1.5;
    font-size: 0.825rem;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img:not(.nav-logo) {
    width: 100%;
    display: block;
}

h1,
h2,
h3,
h4 {
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
    font-family: var(--ff-primary);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
    color: var(--clr-primary);
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 0.875rem;
}

p {
    margin-bottom: 1.25rem;
    color: var(--clr-primary);
}

@media screen and (min-width: 800px) {

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 1.75rem;
    }

    h4 {
        font-size: 1rem;
    }

    body {
        font-size: 1rem;
    }

    h1,
    h2,
    h3,
    h4 {
        line-height: 1;
    }
}

/* global styles */

/*  global classes */

.btn {
    text-transform: uppercase;
    background: var(--clr-primary);
    color: var(--clr-white);
    padding: 0.375rem 0.75rem;
    letter-spacing: var(--spacing);
    display: inline-block;
    font-weight: 700;
    -webkit-transition: var(--transition);
    transition: var(--transition);
    font-size: 0.875rem;
    border: 2px solid transparent;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: var(--radius);
}

.btn:hover {
    color: var(--clr-primary);
    background: white;
    border: 1px solid var(--clr-primary);
}

/* section */

.section {
    padding: 5rem 0;
}

.section-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
}

@media screen and (min-width: 992px) {
    .section-center {
        width: 95vw;
    }
}

.underline {
    width: 5rem;
    height: 0.25rem;
    margin-bottom: 1.25rem;
    background: var(--clr-secondary);
    margin-left: auto;
    margin-right: auto;
}

.section-title {
    margin-bottom: 4rem;
    text-align: center;
}

/* section */

/*  global classes */

/* Navbar */

.nav-links {
    display: none;
}

.nav {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    -webkit-transition: var(--transition);
    transition: var(--transition);
    color: white;
}

.nav-center {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.nav-logo {
    width: 10%;
    height: auto;
}

.nav-header {
    display: grid;
    grid-template-columns: auto 1fr;
    -webkit-box-align: center;
    align-items: center;
}

.nav-btn {
    background: transparent;
    border-color: transparent;
    color: var(--clr-secondary);
    font-size: 2rem;
    cursor: pointer;
    justify-self: end;
}

@media screen and (min-width: 768px) {
    .nav {
        background: var(--clr-primary);
    }

    .nav-btn {
        display: none;
    }

    .nav-links {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        justify-items: center;
        -webkit-column-gap: 2rem;
        -moz-column-gap: 2rem;
        column-gap: 2rem;
        justify-self: end;
    }

    .nav-links a {
        text-transform: capitalize;
        color: white;
        font-weight: bold;
        letter-spacing: var(--spacing);
        -webkit-transition: var(--transition);
        transition: var(--transition);
    }

    .nav-links a:hover {
        color: var(--clr-secondary);
    }

    .nav-center {
        display: grid;
        grid-template-columns: auto 1fr;
        -webkit-box-align: center;
        align-items: center;
    }
}

/* fixed navbar */
.navbar-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--clr-white);
    z-index: 2;
    box-shadow: var(--light-shadow);
}

/*
=============== 
Sidebar
===============
*/
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--clr-primary);
    z-index: 4;
    display: grid;
    /* align-items: center;
  justify-content: center; */
    place-items: center;
    -webkit-transition: var(--transition);
    transition: var(--transition);
    /* add later */
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

/* toggle sidebar */
.show-sidebar {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.sidebar-links {
    text-align: center;
}

.sidebar-links a {
    font-size: 2rem;
    text-transform: capitalize;
    -webkit-transition: var(--transition);
    transition: var(--transition);
    color: var(--clr-primary);
    letter-spacing: var(--spacing);
    display: inline-block;
    margin-bottom: 1.5rem;
}

.sidebar-links a:hover {
    color: var(--clr-secondary);
}

.social-icons {
    display: grid;
    margin-top: 3rem;
    width: 20rem;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
}

.social-icon {
    font-size: 1.5rem;
    color: var(--clr-primary);
    -webkit-transition: var(--transition);
    transition: var(--transition);
    cursor: pointer;
}

.social-icon:hover {
    color: var(--clr-secondary);
}

.close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 3rem;
    background: transparent;
    border: transparent;
    -webkit-transition: var(--transition);
    transition: var(--transition);
    color: #bb2525;
    cursor: pointer;
}

.close-btn:hover {
    color: #e66b6b;
}

/* Navbar */

/* Hero */
/* underline added to globals */
.hero .underline {
    margin-bottom: 0.5rem;
    margin-left: 0;
}

.hero-img {
    display: none;
}

.hero {
    background: var(--clr-primary);
}

.hero-center {
    min-height: calc(100vh - 5rem);
    display: grid;
    place-items: center;
}

.hero-info h4 {
    color: var(--clr-secondary);
}

.hero-icons {
    justify-items: start;
}

.hero-btn {
    margin-top: 1.25rem;
}

@media screen and (min-width: 992px) {
    .hero-img {
        display: block;
        position: relative;
    }

    .hero-center {
        grid-template-columns: 1fr 1fr;
    }

    .hero-img::before,
    .about-img::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        border: 0.25rem solid var(--clr-secondary);
        top: 2rem;
        right: -2rem;
        border-radius: var(--radius);
    }
}

.hero-photo {
    max-width: 25rem;
    max-height: 30rem;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: var(--radius);
    position: relative;
}

/* section title added to globals */
.about-title {
    text-align: left;
    margin-bottom: 2rem;
}

.about-title h2 {
    color: var(--clr-primary)
}

.about-title .underline {
    margin-left: 0;
}

.about-center {
    display: grid;
    gap: 3rem 2rem;
}

.about-img {
    justify-self: center;
}

@media screen and (min-width: 992px) {
    .about-center {
        grid-template-columns: 1fr 1fr;
    }

    .about-img {
        position: relative;
    }

    .about-img::before {
        left: -2rem;
    }

    .about-info {
        align-self: center;
    }
}

.projects-text {
    width: 85vw;
    max-width: 30rem;
    margin: 0 auto;
}

.project {
    position: relative;
    background: var(--clr-secondary);
    border-radius: var(--radius);
    margin-bottom: 2rem;
}

.project-info {
    text-align: center;
    color: var(--clr-white);
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: var(--transition);
    transition: var(--transition);
    opacity: 0;
}

.project-info p {
    text-transform: capitalize;
    color: var(--clr-white);
}

.project:hover .project-info {
    opacity: 1;
}

.project-img {
    -webkit-transition: var(--transition);
    transition: var(--transition);
    border-radius: var(--radius);
    height: 15rem;
    -o-object-fit: cover;
    object-fit: cover;
}

.project:hover .project-img {
    opacity: 0.1;
}

.project::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0.25rem solid var(--clr-white);
    border-radius: var(--radius);
    -webkit-transition: var(--transition);
    transition: var(--transition);
    opacity: 0;
}

.project:hover::after {
    opacity: 1;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
}

@media screen and (min-width: 676px) {
    .projects-center {
        display: grid;
        grid-template-columns: 1fr 1fr;
        -webkit-column-gap: 2rem;
        -moz-column-gap: 2rem;
        column-gap: 2rem;
    }
}

@media screen and (min-width: 992px) {
    .projects-center {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1170px) {
    .projects-center {
        grid-template-rows: 200px 200px;
        gap: 1rem;
        grid-template-areas:
            "a b b"
            "a c d";
    }

    .project-img {
        height: 100%;
    }

    .project {
        height: 100%;
    }

    .project-1 {
        grid-area: a;
    }

    .project-2 {
        grid-area: b;
    }

    .project-3 {
        grid-area: c;
    }

    .project-4 {
        grid-area: d;
    }
}

@media screen and (min-width: 768px) {
    .skills-center {
        display: grid;
        grid-template-columns: 1fr 1fr;
        -webkit-column-gap: 2rem;
        -moz-column-gap: 2rem;
        column-gap: 2rem;
    }
}

.skills {
    background: var(--clr-primary);
}

.skills h3 {
    margin: 1.5rem 0;
    color: var(--clr-primary);
}

.skill {
    margin-bottom: 1.25rem;
}

.skill p {
    margin-bottom: 0.5rem;
    text-transform: capitalize;
    color: var(--clr-primary);
}

.skill-container {
    background: var(--clr-white);
    height: 1rem;
    width: 100%;
    border-radius: var(--radius);
    position: relative;
}

.skill-value {
    position: absolute;
    top: 0;
    left: 0;
    background: var(--clr-secondary);
    height: 100%;
    width: 50%;
    border-radius: var(--radius);
}

.value-70 {
    width: 70%;
}

.value-80 {
    width: 80%;
}

.skill-text {
    position: absolute;
    top: -2rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.skill-text-70 {
    left: 70%;
}

.skill-text-80 {
    left: 80%;
}

/*
=============== 
Timeline
===============
*/
.timeline-center {
    width: 80vw;
    max-width: 40rem;
}

.timeline-item {
    border-top: 2px dashed var(--clr-secondary);
    margin: 0;
    padding: 4rem 2rem;
    position: relative;
}

.timeline p {
    margin-bottom: 0;
}

.timeline-item:nth-child(even) {
    border-left: 2px dashed var(--clr-secondary);
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;

    margin-right: 2rem;
    padding-right: 0;
}

.timeline-item:nth-child(odd) {
    border-right: 2px dashed var(--clr-secondary);
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    margin-left: 2rem;
    padding-left: 0;
}

.timeline-item:first-child {
    border-top: 0;
    border-top-right-radius: 0;
}

.timeline-item:last-child {
    border-bottom-left-radius: 0;
}

.number {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin-bottom: 0;
    background: var(--clr-secondary);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: grid;
    place-items: center;
    color: var(--clr-primary);
    font-weight: bold;
}

.timeline-item:nth-child(even) .number {
    left: 0;
}

.timeline-item:nth-child(odd) .number {
    right: 0;
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
}

/*
=============== 
Blog
===============
*/
.blog {
    background: var(--clr-primary0);
}

.card {
    height: 27rem;
    position: relative;
    /* talk later */
    -webkit-perspective: 1500px;
    perspective: 1500px;
}

.card-side {
    -webkit-transition: all 2s linear;
    transition: all 2s linear;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--radius);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
}

.card-front {
    background: var(--clr-white);
}

.card-back {
    background: var(--clr-primary);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    display: grid;
    place-items: center;
}

.card:hover .card-front {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.card:hover .card-back {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
}

/* rest of the styles */
.card-info {
    padding: 1rem 1.5rem;
}

.card-front img {
    height: 13rem;
    -o-object-fit: cover;
    object-fit: cover;
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
}

.card-footer {
    display: grid;
    grid-template-columns: auto 1fr;
    -webkit-box-align: center;
    align-items: center;
}

.card-footer img {
    width: 2rem;
    height: 2rem;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 50%;
}

.card-footer p {
    margin-bottom: 0;
    text-transform: uppercase;
    justify-self: end;
    color: var(--clr-secondary);
    font-size: 0.85rem;
}

.blog-center {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    gap: 3rem 1rem;
}

/*
=============== 
Footer
===============
*/
.footer {
    padding-bottom: 2rem;
    background: #222;
    display: grid;
    place-items: center;
}

.footer .social-icons {
    margin-bottom: 2rem;
}

.footer .social-icon {
    color: var(--clr-secondary);
}

.footer .social-icon:hover {
    color: var(--clr-primary);
}

.footer p {
    font-size: 1.25rem;
    text-transform: capitalize;
}