:root {
  --clr-primary: #1e1a20;
  --clr-secondary: #f64c72;
  --clr-white: #fff;
  --ff-primary: 'Roboto', sans-serif;
  --ff-secondary: 'Open Sans', sans-serif;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
